<div>{{interpolation}}</div>
<div><img [src]="url" /></div>
<div><button (click)="handleClick()">Klick mich!</button></div>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Bitte gib was ein: </mat-label>
        <input matInput placeholder="na los" [(ngModel)]="inputfield">
    </mat-form-field>
    {{inputfield}}
</div>
<div *ngFor="let current of array">{{current}}</div>
<div>{{komplexesObjekt}}</div>
<div>{{komplexesObjekt|json}}</div>